.img-thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 40px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 70px; /* Set a small width */
    height: 70px;
}

/* Add a hover effect (blue shadow) */
.img-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: 0.5s all;
}

.content-images {
    height: 300px;
    display: flex;
    justify-content: space-around; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
}

.div-image {
    max-width: 70px; 
}