<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Binomio de Newton con Vue JS</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1 id="app-title">{{ message }}</h1>

        <div id="app-list" class="content-images">
            <div v-for="item in items">
                <div class="div-image">
                    <img v-bind:src="item.src" v-bind:alt="item.alt" class="img-thumb"><br>
                </div>
            </div>
        </div>

        <form action=""> 
            <label for="txt-a">Término 1</label>
            <input type="text" id="txt-a" placeholder="Término 1" class="disabled" v-model="updateResult">
            <br>
            <label for="txt-b">Término 2</label>
            <input type="text" id="txt-b" placeholder="Término 2" class="disabled">
            <br>
            <label for="txt-n">Exponente</label>
            <input type="text" id="txt-n" placeholder="Exponente" class="disabled">
            <br>
            <input type="button" id="app-binomial" value="Desarrollo binomio" :disabled="isDisabled" v-on:click="binomial">
            <input type="reset" id="app-reset" value="Restablecer" v-on:click="reset">
        </form>

        <div id="app-result">{{ updateResult }}</div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/newton-binomial.js"></script>
    </body>
</html>